.districtCont {
  display: flex;
  align-items: center;
  color: #94a3b8;
  padding: 4px;
  width: 300px;
}

.districtName {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
  padding: 0px;

  /* identical to box height, or 150% */

  /* Light / blue-gray / 400 */
}
.districtcountis {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* identical to box height, or 100% */
  padding: 0px;
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .districtcountis {
    font-size: 12px;
  }
  .districtName {
    font-size: 12px;
  }
  .districtCont {
    width: 140px;
  }
}

@media screen and (min-width: 577px) and (max-width: 720px) {
  .districtCont {
    width: 220px;
  }
}
