.linestyles1 {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #331427;
}
.linestyles2 {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #132240;
}
.linestyles3 {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #182829;
}
.linestyles4 {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1c1c2b;
}
.linestyles5 {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #230f41;
}
