.stateContainer {
  display: flex;
  flex-direction: column;
  background: #161625;
  width: 100%;
}

.stateRouteLoader {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sateSuccessCon {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 55px;
}
.stateSelectcontainer {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.nameandTestedcountContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;

  /* Light / Transparent / Light Blue / 16 */

  background: rgba(2, 132, 199, 0.16);
  border-radius: 35px;
}
.stateNameheading {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  /* identical to box height, or 150% */

  /* Light / light-blue / 500 */
  margin: 0px;
  color: #0ea5e9;

  /* Inside auto layout */
}
.updateText {
  height: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  /* identical to box height, or 133% */

  /* Light / blue-gray / 300 */

  color: #cbd5e1;
  margin-top: 10px;
  margin-left: 5px;
}
.testedCountContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #94a3b8;
}
.textedText {
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Light / blue-gray / 400 */
}
.textedCount {
  height: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-align: right;
  margin: 0px;
}

.topdistrictText {
  height: 48px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  /* identical to box height, or 150% */
}
.textofDailySpreads {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 300 */

  color: #cbd5e1;
}

.stateDistrictsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  list-style-type: none;
}

@media screen and (max-width: 576px) {
  .sateSuccessCon {
    padding: 10px;
  }
  .stateNameheading {
    font-size: 22px;
  }
  .topdistrictText {
    font-size: 18px;
  }

  .textedCount {
    font-size: 18px;
  }
  .textedText {
    font-size: 14px;
  }
  .updateText {
    font-size: 15px;
  }
  .textofDailySpreads {
    font-size: 18px;
  }
}
.nConfirmed {
  color: #ff073a;
}
.nActive {
  color: #007bff;
}
.nRecovered {
  color: #28a745;
}
.nDeceased {
  color: #6c757d;
}
